body {
	width: 85%;
	margin: 0 auto;
}

h1 {
	font-size: 40px;
	color: grey;
	margin-bottom: 20px;
}

h2 {
	color: grey;
}

.header img {
	width: 100%;
	height: auto;
}

.press {
	margin-top: 30px;
}

.press img {
	width: 24%;
	height: auto;
	border: 4px solid grey;
}

.main_text > p > a {
	color: dodgerblue;
	text-decoration: none;
}

.main_text p,
footer p {
	color: grey;
}

.main_text .highlight_text {
	color: dodgerblue;
}

footer {
	margin-bottom: 40px;
}