html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, p {
	margin: 0;
	padding: 15px 15px;
	font-family: "Helvetica", sans-serif;
}

h1, h2, p, li {
	font-family: "Helvetica", sans-serif;
}

h1, h2 {
	font-weight: 300;
}

p {
	font-size: 20px;
	text-align: justify;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 255, 255, 0.45)), url("../images/movie_search_background.jpg") no-repeat center center fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.movie_index {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.movie_index h1, .error_code {
	font-size: 50px;
	color: white;
	font-weight: 400;
}

.movie_index h2 {
	color: white;
}

.search {
	display: flex;
	position: fixed;
	top: 12%;
	left: 35%;
}

.search input, .search button {
	font-size: 40px;
}

.movie {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 80px;
	/*border: 1px solid black;*/
	box-shadow: 0 0 2px 2px #808080;
}

/*.movie img {
	height: 445px;
}*/

.movie_details_header {
	background-color: #262626;
}

.movie_details_header > h1 {
	display: inline-block;
	color: white;
	padding-bottom: 0;
}

.movie_details_header h2 {
	color: #999999;
}

.year_rating_runtime ul {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.year_rating_runtime li {
	color: #999999;
	list-style: none;
	border-right: 2px solid white;
	padding: 0 15px;
}

.year_rating_runtime li:last-child {
	border-right: none;
}

.movie_details_header > h2 {
	display: inline-block;
	padding: 0;
}

.movie_details {
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	width: 100%;
	/*height: 445px;*/
}

.movie_details .director {
	padding-bottom: 0;
}

.movie_details .plot {
	font-weight: 300;
}

.ratings_container {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.ratings {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ratings .ratings_icon {
	height: 75px;
}

.ratings .ratings_value {
	margin-top: 10px;
}

.fa-imdb + .ratings_value {
	margin-top: 7px;
}

.fa-star {
	color: yellow;
	margin-right: 5px;
	-webkit-text-stroke: 1px orange;
}



