<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello World</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
	<div class="background">
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a class="layout_search_history" href="/history">Search History</a>
					</li>
				</ul>
			</nav>
			<form class="layout_search" action="/movie_listing">
				<input type="text" placeholder="Movie Title" name="movie">
				<button class="fa fa-search"></button>
			</form>
		</header>
		
  		<%= yield %>
	</div>

</body>
</html>