// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-pokemon-form {
	display: flex;
	justify-content: space-between;
}

.pokemon-catch-list {
	border: 1px solid black;
	height: 600px;
	overflow: scroll;
	list-style: none;
	padding: 0;
}

.pokemon-catch-list li {
	padding: 10px;
	border: 1px solid black;
}

.pokemon-sprite {
	width: 375px;
	height: auto;
}